<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PagoElectronico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PagoElectronico.Properties.Settings.GD1C2015ConnectionString"
      connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2015;Integrated Security=False;User ID=gd;Password=gd2015"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <userSettings>
    <PagoElectronico.Properties.Settings>
      <setting name="fechaDelSistema" serializeAs="String">
        <value>2014-01-01 00:00:00.000</value>
      </setting>
    </PagoElectronico.Properties.Settings>
  </userSettings>
</configuration>