<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PagoElectronico.Properties.Settings.GD1C2015ConnectionString"
            connectionString="Data Source=JOHN-VAIO\SQLSERVER2008;Initial Catalog=GD1C2015;Persist Security Info=True;User ID=gd;Password=gd2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>